* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(226, 43%, 10%);
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
}
a {
  text-decoration: none;
  color: #fff;
}
.profile-container {
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 7rem;
  width: 15rem;
}
.profile-picture {
  max-width: 2.5rem;
  border: 3px solid #fff;
  border-radius: 50%;
  justify-self: end;
}
.profile {
  background-color: hsl(246, 80%, 60%);
  border-radius: 0.7rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row: 1/3;
  align-items: center;
  justify-items: center;
  grid-gap: 0.8rem;
}
.titles {
  justify-self: start;
  font-weight: 500;
  line-height: 1.2rem;
}
.title h3 {
  font-weight: 300;
}
.periods {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  font-size: small;
  margin-left: 0.7rem;
}
.periods a {
  color: hsl(246, 80%, 60%);
}
.events {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  row-gap: 1rem;
  align-items: center;
  justify-items: center;
  margin: 3rem auto;
}
.evt1 {
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 75%;
  height: 7rem;
  width: 15rem;
}
.work-container {
  background-color: hsl(15, 100%, 70%);
}
.play-container {
  background-color: hsl(195, 74%, 62%);
}
.study-container {
  background-color: hsl(348, 100%, 68%);
}
.exercise-container {
  background-color: hsl(145, 58%, 55%);
}
.social-container {
  background-color: hsl(264, 64%, 52%);
}
.selfcare-container {
  background-color: hsl(43, 84%, 65%);
}
.icon {
  grid-column: 2/4;
}
.icon > img {
  max-width: 3rem;
  align-self: end;
  justify-self: end;
}
.text-container {
  background-color: hsl(235, 46%, 20%);
  max-width: 15rem;
  border-radius: 10px;
  grid-column: 1/4;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 0.9rem;
}
.text-container:hover {
  cursor: pointer;
  background-color: hsl(235, 33%, 50%);
}
.hours {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: x-large;
  font-weight: 300;
  line-height: 1.5rem;
}
.hours p:nth-last-child(1) {
  justify-self: right;
  font-size: x-small;
  color: hsl(236, 100%, 87%);
}
.title-and-ellipsis {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: 400;
  font-size: x-small;
}
.title-and-ellipsis > img {
  max-width: 1rem;
  justify-self: right;
  margin-top: 0.5rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media only screen and (min-width: 768px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .events {
    display: grid;
    grid-template-columns: repeat(4, 10rem);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-gap: 1rem;
  }
  .profile-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 25rem;
    width: 10rem;
    grid-row: 1/3;
  }
  .profile-picture {
    width: 2.5rem;
    border: 3px solid #fff;
    border-radius: 50%;
    align-self: start;
    justify-self: start;
  }
  .profile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    grid-row: 1/3;
    align-items: center;
    justify-items: center;
    grid-gap: 0.8rem;
    padding: 0.7rem;
  }
  .title {
    justify-self: start;
    align-self: start;
    line-height: 2rem;
  }
  .title h3 {
    font-size: x-large;
  }
  .periods {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: start;
    padding: 0.5rem;
  }
  .evt1 {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 75%;
    height: 12rem;
    width: 10rem;
  }
  .icon {
    grid-column: 2/4;
  }
  .icon > img {
    max-width: 3rem;
    align-self: end;
    justify-self: end;
  }
  .text-container {
    background-color: hsl(235, 46%, 20%);
    max-width: 15rem;
    border-radius: 10px;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.7rem;
  }
  .hours {
    display: flex;
    flex-direction: column;
    font-size: x-large;
  }
  .title-and-ellipsis {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .title-and-ellipsis > img {
    width: 0.9rem;
    align-self: right;
    margin-top: 0.5rem;
  }
}
